{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jsdoc"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "jsdoc/require-param-type": 0,
    "jsdoc/require-param-description": 0,
    "jsdoc/require-returns": 0,
    "jsdoc/require-jsdoc": 0
  }
}
